.container {
    margin: auto 0%;
  }

  .heru > h1{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 72px;
    text-align: left;
  }

 .heru > small {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 240, 240);
  font-size: 30px;
  
}
.heru > button {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: aliceblue;
  font-size: medium;
  background-color: Transparent;
  width: 200px;
  height: 45px;
  border-radius: 40px;
  cursor: pointer;
  width: 220px;
  border-color: rgb(255, 255, 255);
  text-align: center;
  
}


  .implement-con{

    text-align: center;
    
  }

  .implement-con > h1{
    font-size: 42px;
    font-weight: bold;
    color: black;
    padding-top: 42px;
    padding-bottom: 15px;
  }

  





.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    
    flex-wrap: wrap;
    min-width: 320px;
    max-width: 100%;
    padding-bottom: 80px;
    
 }
 .flex-item {
     display:flex;
 align-items: center;
 height: 120px;
 width: 300px;
 margin: 3px;
 padding: 10px 10px 20px 10px;
 }
.flex-container > img{
flex-grow:0;
flex-shrink:0;
}
.flex-container > small{
  font-size: 15px;
  text-align: left;
  padding-left: 200px;
  padding-right: 450px;
  padding-bottom: 20px;

}




 span {
     padding-left: 5px;
 }

 .consultus-container{
     
    position: relative;
    text-align: left;
    color: white;
    
 }

 .consultus-container > h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: left;
    
  }

 .consultus-container > small {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: medium;
    text-align: left;
    padding-bottom: 50px;
    
  }
  .consultus-container > button {
    background-color: Transparent;
    position: absolute;
    top: 70%;
    left: 60%;
    transform: translate(-50%, -50%);
    color: rgb(5, 67, 199);
    font-size: medium;
    border-radius: 40px;
    width: 180px;
    height: 40px;
    border-style: line;
    border-color: blue;
    
  }
  .consultus-container > button:hover{
    color: blueviolet;
  }
  .consultus-container > small >span{
      font-size: 30px;
      padding-bottom: 50px;
  }
  .consultus-container >img{
   
    height: 50vh;
    width: 100%;
    z-index: -1;
    
    
  }


  .cards-container{
    
    padding-right: 10px;
  }

  


  .turn-ideas-container{

    position: relative;
    text-align: center;
    color: white;
   
  }

  .turn-ideas-container > h1{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-weight: bold;
    font-size: 58px;
  }
  .turn-ideas-container >img{
   
    height: 100vh;
    width: 100%;
    z-index: -1;
    filter: brightness(50%);
  }

  .turn-ideas-container > small {
    position: absolute;
    top: 40%;
    left: 52%;
    transform: translate(-50%, -50%);
    color:white;
    font-size: medium;
    text-align: left;
    
  }

  .turn-ideas-container > button {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: medium;
    border-radius: 40px;
    width: 250px;
    height: 50px;
    background-color: transparent;
    border-color: white;
    cursor: pointer;
    
  }

  .latest-con{
    text-align: center;
  }
  .latest-con > h1{

    font-weight: bold;
    

  }
  .latest-con > p{
    padding:'40px 200px'

  }

.subscribe-container{
    position: relative;
    text-align: center;
    color: white;
    
  }
.subscribe-container > h1{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-weight: bold;
    font-size: 50px;
  }
  .subscribe-container > .ss{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-weight: bold;
    font-size: 50px;
  }

  .subscribe-container >img{
   
    height: 100vh;
    width: 100%;
    filter: brightness(30%);
    z-index: -1;
  }


  
  .icon-bar {
    width: 60px;
    background-color: rgb(255, 246, 246);
    border-radius:25px;
    position:fixed;
    top:30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 2;
  }
  
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 8px;
    transition: all 0.3s ease;
    color: rgb(44, 42, 42);
    font-size: 36px;
  }
  
  .icon-bar a:hover {
    background-color: #000;
  }
  
  .active {
    background-color: #4CAF50;
  }

  .cusomer-bg{
    position: relative;
  }

  .cusomer-bg > h2{
    
    position: absolute;
    top: 30%;
    left: 48%;
    color: #88badb;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 30px;;
    padding-top: 50px;
  }

  .cusomer-bg > p{
    position: absolute;
    top: 40%;
    left: 25%;
    text-align: center;
    color: azure;
  }
  .cusomer-bg > small{
    position: absolute;
    top: 50%;
    left: 45%;
    text-align: center;
    color: rgb(214, 221, 221);
    font-size: 15px;
  }


  .cusomer-bg > img{
    width: 100%;
    padding-bottom: 50px;
  }

  .cusomer-bg > .gg >img{
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media only screen and (max-width: 768px) {
    .icon-bar {
      width: 60px;
      background-color: rgb(255, 246, 246);
      border-radius:25px;
      position:fixed;
      top:30%;
      left: 84%;
      z-index: 2;
      
      
    }

    .flex-container > small{
      font-size: "15px";
      text-align: "left";
      padding-left: 2px;
      padding-right: 5px;
    
    }

    .consultus-container > h1 {
      position: absolute;
      transform: translate(-50%, -50%);
      color: black;
      font-weight: bold;
      color: rgb(0, 0, 0);
      
    }
    .consultus-container > small {
      position: absolute;
      top: 60%;
      transform: translate(-50%, -50%);
      color: black;
      font-size: 12px;
      
    }
    .consultus-container > button {
      position: absolute;
      top: 95%;
      left: 70%; 
      transform: translate(-50%, -50%);
      color: black;
      font-size: medium;
      border-radius: 10px;
      height: 26px;
      
    }
    .consultus-container > small >span{
        font-style: italic;
        font-size: 14px;
        font-weight: bold;
        padding-bottom: 30px;
    }

    .turn-ideas-container > h1{
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translate(-50%, -50%);
      color:white;
      font-weight: bold;
      font-size: 20px;
    }
   
  
    .turn-ideas-container > small {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      color:white;
      font-size: medium;
      
    }
  
    .turn-ideas-container > button {
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: black;
      font-size: medium;
      
    }

    .latest-con > h1{

      text-align: "center";
      font-weight: bold;
     
      
  
    }
    .latest-con > p{
      padding:20px;

    }
    .cards-container{
      padding-left: 2%;
      padding-right: 10px;
    }

    .heru > h1{
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: bold;
      color: rgb(255, 255, 255);
      font-size: 20px;
    }
  
   .heru > small {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 240, 240);
    font-size: 17px;
    
  }
  .heru > button {
    position: absolute;
    top: 135%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    font-size: medium;
    background-color: Transparent;
    width: 200px;
    height: 45px;
    border-radius: 10px;
    
  }

  .flex-container > img{
    width: 100%;
    }

    .cusomer-bg > h2{
      font-size: 13px;
    }
    .cusomer-bg > img{
      height: 300px;
    }

    .cusomer-bg > p{
      font-size: 12px;
      text-align: center;
      left: 5%;
    }
    .cusomer-bg > small{
      font-size: 12px;
      top: 70%;
      left: 35%;
    }









  }